extends layout

block content

  #banner.page-header
    .row
      .col-md-6.col-xs-12
        h1= title
  .row
    .col-md-6.col-xs-12
      p
        | This website is the best.
        | <br/><br/>
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem massa, lacinia at velit non, facilisis bibendum nulla. Integer vel.