extends layout

block content

  #banner.page-header
    .row.col-xs-12
        h1 Random place
    .row
      .col-xs-12.col-md-9
        .row
          .col-xs-12.col-sm-6
            p.rating
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            p 25 rue des Pommiers, 78330, Fontenay-le-Fleury
            .panel.panel-primary
              .panel-heading
                h2.panel-title Opening hours
              .panel-body
                p Monday - Friday : 7:00am - 7:00pm
                p Saturday : 8:00am - 5:00pm
                p Sunday : closed
            .panel.panel-primary
              .panel-heading
                h2.panel-title Facilities
              .panel-body
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;Coffee
                | &nbsp;
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;Food
                | &nbsp;
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;Free wifi
                | &nbsp;
          .col-xs-12.col-sm-6.location-map
            .panel.panel-primary
              .panel-heading
                h2.panel-title Location map
              .panel-body
                img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
        .row
          .col-xs-12
            .panel.panel-primary.review-panel
              .panel-heading
                .pull-right
                  a.btn.btn-default.btn-xs.pull-right(href='/location/review/new') Add review
                h2.panel-title Customer reviews
              .panel-body.review-container
                .row
                  .review.col-xs-12
                    .review-header
                        span.rating
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star
                          span.glyphicon.glyphicon-star
                        span.reviewAuthor Alexis Dirdir
                        small.reviewTimestamp 20 Mars 2015
                    .review-content
                      p This place is the best !
                  .review.col-xs-12
                    .review-header
                      span.rating
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star-empty
                        span.glyphicon.glyphicon-star-empty
                      span.reviewAuthor Siqin Wang
                      small.reviewTimestamp 22 Mars 2015
                    .review-content
                      p It was okay. Coffee wasn't great, but the wifi was fast.
      .col-xs-12.col-md-3
        p.lead
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem massa, lacinia at velit non, facilisis bibendum nulla. Integer vel.
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem massa, lacinia at velit non, facilisis bibendum nulla. Integer vel.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem massa, lacinia at velit non, facilisis bibendum nulla. Integer vel.