extends layout

block content

  #banner.page-header
    .row
      .col-md-6.col-xs-12
        h1= title
  .row
    .col-md-6.col-xs-12
      p
        button.btn.btn-default Sign in with Twitter
      p
        button.btn.btn-default Sign in with Facebook